<%= form_with(model: book, id: "#{dom_id(book)}_form", data: { form_validation_target: "form" }) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h3><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h3>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, data: { action: "form-validation#handleChange" } %>
    <%= form.error_message_for(:title) %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, data: { action: "form-validation#handleChange" } %>
    <%= form.error_message_for(:description) %>
  </div>

  <div>
    <%= form.label :published_at, style: "display: block" %>
    <%= form.date_field :published_at, data: { action: "form-validation#handleChange" } %>
    <%= form.error_message_for(:published_at) %>
  </div>

  <div>
    <%= form.label :author_id, style: "display: block" %>
    <%= form.text_field :author_id, data: { action: "form-validation#handleChange" } %>
    <%= form.error_message_for(:author_id) %>
  </div>

  <div>
    <%= form.submit disabled: book.errors.any? %>
  </div>
<% end %>
